<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wodule">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name=".WoduleApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.wodule.activities.SplashAct"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.wodule.activities.MainActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.wodule.activities.MainAssessmentActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.wodule.activities.HistoryAssessmentActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.wodule.activities.LicenseActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.wodule.activities.LoginActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.wodule.activities.HomeActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.wodule.activities.ForgetPassActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.wodule.activities.HistoryExamActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.wodule.activities.CalendarExamActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.wodule.activities.StartAssessmentAct"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.wodule.activities.AssessorActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.wodule.activities.AccountingAct"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.wodule.activities.AssessorStartAct"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity
            android:name="com.wodule.activities.AssessmentRecordActivity"
            android:screenOrientation="portrait"></activity>
        <!--<activity-->
            <!--android:name="com.facebook.CustomTabActivity"-->
            <!--android:exported="true">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.VIEW" />-->

                <!--<category android:name="android.intent.category.DEFAULT" />-->
                <!--<category android:name="android.intent.category.BROWSABLE" />-->

                <!--<data android:scheme="@string/fb_login_protocol_scheme" />-->
            <!--</intent-filter>-->
        <!--</activity>-->
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!--<provider-->
            <!--android:name="com.facebook.FacebookContentProvider"-->
            <!--android:authorities="com.facebook.app.FacebookContentProvider513062572207697"-->
            <!--android:exported="true" />-->
    </application>

</manifest>